In [1]:
from docx import Document
import pandas as pd

In [11]:
df = pd.read_csv(r'./Data/problema.csv',dtype="str",usecols=['y_hat','problem','name','tel','email','language'])
df.fillna(value='',inplace=True)
df["y_hat"] = df["y_hat"].astype("category")
df[1:4]

,y_hat,problem,name,tel,email,language
1,Utak > Uthibak,Strada Recoltei 7: Groapa extraordinar de mare...,,,,ro
2,Iskolak > 17,"A 17-es iskola udvara csupa sar es szornyu, ra...",,,,hu
3,Piac > Ocska Piac,"nyitcson ki az ocska, mert mi abbo elunk, mi l...",,,,hu

In [3]:
df["y_hat"].value_counts()

Piac > Ocska Piac              7
Utak > Uthibak                 4
Utak > Bicikli                 2
Zoldovezetek > Zona Cornisa    1
Szemet > Epitkezesi            1
Kozvilagitas > Mimozelor       1
Iskolak > 17                   1
Egeszseg > Nyilvanos WC        1
Name: y_hat, dtype: int64

In [4]:
document = Document()
document.add_heading('problema.ms export', 0)
for category in df["y_hat"].unique():
    document.add_heading(category, level=1)
#     print(category)
    for row in df[df["y_hat"] == category].itertuples():              
#         print(row.problem)
        p = document.add_paragraph(row.problem, style='List Number')
        if row.name or row.tel or row.email:
            p.add_run(' ').add_break()
            p.add_run(f'{row.name} – {row.tel} – {row.email}').italic = True

In [7]:
today = pd.to_datetime("today")
today = str(today)[:10]
today

'2020-05-25'

In [8]:
document.save(r'./Data/problema-ms-export-'+today+'.docx')