In [1]:
from docx import Document
import pandas as pd

In [2]:
df = pd.read_csv(r'./Data/problema.csv',dtype="str",usecols=['y_hat','problem','name','tel','email','language'])
df.fillna(value='',inplace=True)
df["y_hat"] = df["y_hat"].astype("category")
df.sort_values(by=["y_hat"],inplace=True)
df[2:5]

,y_hat,problem,name,tel,email,language
38,Hid > Gyaloghid,Pokloson a gyaloghidon deszkai tonkre vannak m...,,,,hu
2,Iskolak > 17,"A 17-es iskola udvara csupa sar es szornyu, ra...",,,,hu
6,Kozvilagitas > Mimozelor,Mimozelor utcaban 3 hete nincs este utcai vila...,,11112,,hu

In [3]:
print(f"There are {len(df)} entries in the cleaned dataframe.")

There are 46 entries in the cleaned dataframe.

In [4]:
df["y_hat"].value_counts()

Piac > Ocska Piac              12
Utak > Uthibak                  5
Utak > Bicikli                  5
Szemet > Koztereken             4
Zoldovezetek > Zona Cornisa     2
META > Foto                     2
META > Nyelvvaltoztatas         2
Egeszseg > Nyilvanos WC         2
Utak > Forgalomiranyitas        2
Utak > Maros-part               2
Zoldovezetek > Gondozas         2
Utak > Balesetmegelozes         1
Szemet > Epitkezesi             1
Kozvilagitas > Mimozelor        1
Iskolak > 17                    1
Hid > Gyaloghid                 1
Állatkert > Biztonsag           1
Name: y_hat, dtype: int64

In [5]:
document = Document()
document.add_heading('problema.ms export', 0)
for category in df["y_hat"].unique():
    document.add_heading(category, level=1)
#     print(category)
    for row in df[df["y_hat"] == category].itertuples():              
#         print(row.problem)
        p = document.add_paragraph(row.problem, style='List Number')
        if row.name or row.tel or row.email:
            p.add_run(' ').add_break()
            p.add_run(f'{row.name} – {row.tel} – {row.email}').italic = True

In [6]:
today = pd.to_datetime("today")
today = str(today)[:10]
today

'2020-06-09'

In [7]:
document.save(r'./Data/problema-ms-export-'+today+'.docx')

In [8]:
document = Document()
document.add_heading('problema.ms export', 0)
for category in df["y_hat"].unique():
    document.add_heading(category, level=1)
    for row in df[df["y_hat"] == category].itertuples():              
        p = document.add_paragraph(row.problem, style='List Number')
document.save(r'./Data/problema-ms-gdpr-'+today+'.docx')

In [ ]:
df